@keyframes getcrossedpos {
  45% {
    transform: rotate(0);
    top: 33%;
  }
  50% {
    transform: rotate(0);
    top: 45%;
  }
  100% {
    transform: rotate(45deg);
    top: 45%;
  }
}
@keyframes straightenpos {
  0% {
    transform: rotate(45deg);
    top: 45%;
  }
  55% {
    transform: rotate(0);
    top: 33%;
  }
  100% {
    transform: rotate(0);
    top: 33%;
  }
}
@keyframes getcrossedneg {
  45% {
    transform: rotate(0);
    top: 60%;
  }
  50% {
    transform: rotate(0);
    top: 45%;
  }
  100% {
    transform: rotate(-45deg);
    top: 45%;
  }
}
@font-face {
  font-family: "SSSocialCircle";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ss-social-circle.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 45, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
* {
  box-sizing: border-box;
}

/* line 48, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
.ss-icon {
  font-family: "SSSocialCircle";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 60, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav {
  position: absolute;
  left: 43%;
  top: 33%;
  width: 7rem;
  height: 7rem;
  z-index: initial;
  line-height: 7rem;
  border-radius: 50%;
  transition: .3s;
  background: #8502C2;
  outline: none;
}
/* line 74, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav:hover, nav:focus {
  background: #333;
}
/* line 77, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav:before, nav:after, nav > span {
  position: absolute;
  left: 27%;
  content: "";
  display: block;
  width: 46%;
  top: 33%;
  height: 8%;
  background: #8502C2;
  transform-origin: center;
  transition: .5s;
}
/* line 89, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav span {
  top: 46%;
}
/* line 92, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav:after {
  top: 60%;
}
/* line 95, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked:before {
  animation: getcrossedpos .6s forwards;
}
/* line 98, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked:after {
  animation: getcrossedneg .6s forwards;
}
/* line 101, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked span#center-bar {
  opacity: 0;
}
/* line 104, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav:hover {
  cursor: pointer;
}
/* line 107, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked {
  background: #000;
  outline: none;
}
/* line 111, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: red;
  text-align: center;
  line-height: 1.5;
  color: #8502C2;
  text-decoration: none;
  position: absolute;
  font-size: 4rem;
  text-align: center;
  left: 1rem;
  top: 1rem;
  transition: .4s;
  z-index: -1;
}
/* line 127, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a:hover, nav a:focus {
  background-color: #000;
}
/* line 133, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a:nth-child(1) {
  transform: rotate(-72deg);
}
/* line 136, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked a:nth-child(1) {
  transform: rotate(-72deg) translateX(7rem) rotate(--72deg);
}
/* line 133, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a:nth-child(2) {
  transform: rotate(0deg);
}
/* line 136, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked a:nth-child(2) {
  transform: rotate(0deg) translateX(7rem) rotate(-0deg);
}
/* line 133, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a:nth-child(3) {
  transform: rotate(72deg);
}
/* line 136, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked a:nth-child(3) {
  transform: rotate(72deg) translateX(7rem) rotate(-72deg);
}
/* line 133, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a:nth-child(4) {
  transform: rotate(144deg);
}
/* line 136, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked a:nth-child(4) {
  transform: rotate(144deg) translateX(7rem) rotate(-144deg);
}
/* line 133, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a:nth-child(5) {
  transform: rotate(216deg);
}
/* line 136, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked a:nth-child(5) {
  transform: rotate(216deg) translateX(7rem) rotate(-216deg);
}
/* line 133, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav a:nth-child(6) {
  transform: rotate(288deg);
}
/* line 136, /Users/andreaperez/Desktop/Projects/ocarina/app/assets/stylesheets/welcome.scss */
nav.clicked a:nth-child(6) {
  transform: rotate(288deg) translateX(7rem) rotate(-288deg);
}
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*


*/
