<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Ocarina</title>
</head>
<body>
  <!-- Nav -->
  <header>
    <div class="container">
    <nav class="ss-icon closed" tabindex="0">
      <span id="center-bar"></span>
      <a href="https://twitter.com/aopr3" target="_blank">Twitter</a>
      <a href="portfolio"><img id="projects" src="folder.png"></a>
      <a href="https://github.com/aopr" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/andreaperez2" target="_blank">LinkedIn</a>
      <a href="about" id="me">Me</a>
    </nav>
    </div>
  </header>
  <div class="name">
    <img class="name" src="name.png" alt="Andrea Ocarina" />
  </div>
</body>
</html>
