<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ocarina</title>
  </head>
  <body>
    <!-- Nav -->
    <nav class="ss-icon closed" tabindex="0">
     <span id="center-bar"></span>
     <a href="https://twitter.com/aopr3" target="_blank">Twitter</a>
     <a href="#" id="projects">Projects</a>
     <a href="https://github.com/aopr" target="_blank">GitHub</a>
     <a href="https://www.linkedin.com/in/andreaperez2
" target="_blank">LinkedIn</a>
     <a href="#" id="me">About Me</a>
   </nav>
  </body>
</html>
