<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>
  <div class="aopr">
    <a href="/"><img id="aopr" src="aopr.png" alt="aopr"/></a>
  </div>
  <div class="wrapper style3">
    <article id="portfolio">
      <header>
        <h2>Here’s some of my projects.</h2>
      </header>
      <div class="container">
        <div class="row">
          <div class="4u 12u(mobile)">
            <article class="box style2">
              <a href="http://stay-woke.herokuapp.com/" target="_blank" class="image featured"><img src="woke.png" alt="" /></a>
              <h3><a href="http://stay-woke.herokuapp.com/" target="_blank">Woke</a></h3>
              <p>Wyncode Final Project. Curated news site for those who care about social justice.</p>
            </article>
          </div>
          <div class="4u 12u(mobile)">
            <article class="box style2">
              <a href="http://shetech.miami/" target="_blank" class="image featured"><img src="sheinnovates.png" alt="SheInnotvatesTech"/></a>
              <h3><a href="http://shetech.miami/" target="_blank">She Innovates Tech Conference</a></h3>
              <p>A conference for middle and high school girls in South Florida to inspire them to look into STEM career paths.</p>
            </article>
          </div>
          <div class="4u 12u(mobile)">
            <article class="box style2">
              <a href="http://agile-stream-19533.herokuapp.com/login" target="_blank" class="image featured"><img src="corkboard.png" alt="CorkBoard" /></a>
              <h3><a href="http://agile-stream-19533.herokuapp.com/login" target="_blank">CorkBoard</a></h3>
              <p>First Project for Wyncode Academy.</p>
            </article>
          </div>
        </div>
      </div>
      <footer>
        <p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
        <a href="#contact" class="button big scrolly">Get in touch with me</a>
      </footer>
    </article>
  </div>
</body>
</html>
