<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width"/>
  <title></title>
</head>
<body class="about">
  <div class="aopr">
    <a href="/"><img id="aopr" src="aopr.png" alt="aopr"/></a>
  </div>
  </div>
  <div class="me">
    <h2>I'm a passionate individual with many loves:</h2>
    <h2>biology, education, web development, travel, and learning.</h2>
    <br>
  </div>
  <div class="picture">
    <div id="pictures">
      <ul>
        <li><img id="copan" src="Copan.jpg" alt="Copan"/></li>
        <li><img id="hagia" src="hagia.jpg" alt="Hagia Sophia" /></li>
        <li><img id="salamander" src="salamander.jpg" alt="Salamander"/></li>
        <li><img id="teach" src="teach.jpg" alt="Teaching"/></li>
        <li><img id="loca" src="loca.jpg" alt="Kitty"/></li>
        <li><img id="teach2" src="teach2.jpg" alt="Teacher"/></li>
      </ul>
    </div>
  </div>
</body>
</html>
