<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body class="about">
  </div>
  <div class="me">
    <h1 id="oca">Andrea Ocarina</h1>
    <h2>I'm a passionate individual with many loves:</h2>
    <h2>biology, education, web development, travel, and learning.</h2>
    <br>
  </div>


</body>
</html>
