body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
}

.about {
  // background-image: url("ocarina.jpg");
  background-color: #cccccc;
  background-size: cover;
}

.me {
  text-align: center;
  font-family: 'Dosis', sans-serif;

}
