.about {
  background-color: #3E3279;
}

#aopr {
  width: 10rem;
  height: auto;
  border-radius: 35px;
}

.me {
  text-align: center;
  color: #FFCD00;
  font-family: 'Dosis', sans-serif;
  border-radius: 20px;
  padding-top: 8%;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 6rem;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

#pictures {
  padding-top: 8%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
}
.picture ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  background-color: #FFCD00;
}
.picture ul li {
  float: left;
  margin: .5rem 1rem;
}

#copan, #hagia, #loca, #salamander, #teach, #teach2 {
  max-height: 15rem;
  width: auto;
}
