.about {
  background-color: #2A139F;
}

.me {
  text-align: center;
  color: #FFCD00;
  font-family: 'Dosis', sans-serif;
  border-radius: 20px;
  padding-top: 15%;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 6rem;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.pictures img {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  background-color: black;
}

ul li {
  list-style: none;
}
